*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header-nav{
    background-color: rgb(3, 3, 100);
    padding: 10px 50px 10px 50px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.logo{
    width: 80px;
    height: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: blue;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    margin: 0 10px;
}

.main-jumbotron{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(5, 5, 133, 0.774);
}

.jumbotron{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.titulo1{
    color: white;
    font-size: 50px;
    -webkit-text-stroke: 3px #5e036e;
    font-weight: bold;
    width: fit-content
}

.boton_1{
    background-color: #5e036e;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

.boton_1:hover{
    background-color: #ae17c9;
}

.subtitulo1{
    color: #300238;
    font-weight: bolder;
    font-size: 20px;
}

input{
    border-radius: 8px;
    margin-right: 2px;
    width: 280px;
}

.boton_2{
    background-color: #5e036e;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
}

.boton_2.boton_2:hover{
    background-color: #ae17c9;
}

#principal-image{
    width: 90%;
    margin: 0 auto;
    }


#catalogo{
    margin-bottom: 50px;
}

.titulo-catalogo{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.plans{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 300px;
    background-color: #f0e4f1b0;
}

.card-header h1 {
    font-size: 25px;
}

.card-price h2 {
    font-size: 20px;
}

.card-image{
    width: 90%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.card-footer {
    margin-bottom: 25px;
}

.card-footer button{
    margin-top: 8px;
    background-color: #ae5dbd;
    color: white;
}

.card-footer button:hover{
    background-color: #5e036e;
}

.asesoria{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(5, 5, 133, 0.774);
}

.img-asesoria img{
    width: 100%;
}

.text-asesoria{
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 40px;
}

.text-asesoria h4{
    color: rgba(191, 191, 224, 0.829);
}

.text-asesoria h2{
    color: white;
}

.text-asesoria button{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
    color: black;
}

.text-asesoria button:hover{
    background-color: rgba(153, 153, 238, 0.774); 
}

#footer{
    background-color: rgb(3, 3, 100); 
    padding: 80px 200px 50px 200px;
}

#footer-top{
    display: grid;
    grid-template-columns: 18% 75% 1fr;
}

#footer-top .nav-footer{
    display: flex;
    align-items: baseline;
}

.iconos a{
    text-decoration: none;
}

.nav-footer ol li{
    list-style-type: none;
    margin-top: 10px;
    letter-spacing: .08em;
    color: rgb(215, 216, 228);
    font-size: 12px;
}

.titulo-lista{
    text-transform: uppercase;
    font-weight: bold;
}

/*responsive*/
@media (max-width:768px){
    .header-nav .nav-2{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:768px){
    .main-jumbotron{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 768px){
    .plans{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:768px){
    .asesoria{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:768px){
    #footer #footer-top .nav-footer{
        display: flex;
        flex-direction: column;
    }
}
/*responsive*/